* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.figma {
  height: 250px;
  line-height: 5%;
  width: -350px;
  margin-top: 5%;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 50px;
}

.fimga {
  display: flex;
  padding: 100px;
  margin-left: 100px;
}

.figma_1 {
  width: 400px;
  height: 400px;
  margin: 50px;
}

p {
  font-family: sans-serif;
  opacity: 0.5;
  line-height: 30px;
}

h1 {
  font-family: sans-serif;
  line-height: 30px;
}

.span {
  margin-left: 50px;
  padding: 25px;
}
