

.stn {
    width: 100%;
    height: 1800px;
    background-color: #e1e1e1;
    display: flex;

    .stn__body {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .stn__body--box {
            width: 80%;
            height: 70px;
            border-top: 1px solid #bdbdbd;
            display: flex;
            align-items: end;

            .stn__body--box__h1 {
                font-size: 30px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #83888F;

                .stn__body--box__h1>span {
                    color: #333D4B;
                }
            }

            .span {
                color: #333D4B;
            }
        }

        .b2 {
            background-color:#bdbdbd;
        }
    }

    .stn__body-second {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .stn__body-second--box {
            width: 90%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            .stn__body-second--box__box {
                width: 90%;
                height: 35%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 50px;

                .stn__body-second--box--h1 {
                    font-size: 40px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #83888F;

                }

                .stn__body-second--box__box--img {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
            }

            .stn__body-second--box__box-second {
                width: 90%;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .stn__body-second--box__box-second--box {
                    width: 230px;
                    height: 280px;
                    background-color: #F4F1EB;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;
                    
                    .stn__body-second--box__box-second--box__h1 {
                        font-size: 25px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        margin-left: 30px;
                    }

                    .stn__body-second--box__box-second--box__pr {
                        font-size: 16px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        margin-left: 30px;
                    }
                }
            }
        }

        .stn__body-second--box-second {
            width: 90%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .stn__body-second--box-second {
                width: 90%;
                height: 110px;
                border-radius: 10px;
                background-color: #ffffff;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                .stn__body-second--box-second__h1 {
                    font-size: 35px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    color:#83888F;
                }

                .stn__body-second--box-second__img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }
        }
    }
}
<<<<<<< HEAD

=======
>>>>>>> ffb184ea0c39e6cbedcd2536a61a875fbd3d5515
