doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/scss/main.css")
        title Shohrux
    body 
        doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        title Document
    body 
        section.figma
            h1 Uncompromising quality 
            p Although we work with growers who pay close attention to all stages of harvest and processing, we employ, on our end, a rigorous quality control program to avoid over-roasting or baking the coffee dry. Every bag of coffee is tagged with a roast date and batch number. Our goal is to roast consistent, user-friendly coffee, so that brewing is easy and enjoyable.
            img(src="", alt="")
            p.span Our Headquarters
        section.fimga
            .figma_1 
                img(src="../img/Combined Shape(1).jpg", alt="")
                h1 United Kingdom 
                p 68 Asfordby Rd 
                p SY6 1YA
                p +998 1241918425
            .figma_1
                img(src="../img/Combined Shape(2).jpg", alt="")
                h1 Canada 
                p 152B Eglinton Avenue       
                p Toronto 
                p Ontario M4P16R 
                p +998 544788876
            .figma_1
                img(src="../img/Combined Shape.jpg", alt="") 
                h1 Australia 
                p 36 Swantson Street 
                p Kewell
                p Victor
                p +998 483658247          
                                
        section.stn.container
            div.stn__div
                div.stn__div--box
                    h1.stn__div--box__h1.span 01 Preferences
                div.stn__div--box
                    h1.stn__div--box__h1 02 Bean Type
                div.stn__div--box.b2
                    h1.stn__div--box__h1 03 Quantity
                div.stn__div--box
                    h1.stn__div--box__h1 04 Grind Option
                div.stn__div--box
                    h1.stn__div--box__h1 05 Deliveries
            div.stn__div2
                div.stn__div2--box
                    div.stn__div2--box__box
                        h1.stn__div2--box--h1 How do you drink your coffee?
                        img.stn__div2--box__box--img(src="../../img/Path.png", alt="")
                    div.stn__div2--box__box2
                        div.stn__div2--box__box2--box
                            h1.stn__div2--box__box2--box__h1 Capsule
                            p.stn__div2--box__box2--box__pr Compatible with <br>Nespresso systems and <br>similar brewers
                        div.stn__div2--box__box2--box
                            h1.stn__div2--box__box2--box__h1 Capsule
                            p.stn__div2--box__box2--box__pr Compatible with <br>Nespresso systems and <br>similar brewers
                        div.stn__div2--box__box2--box
                            h1.stn__div2--box__box2--box__h1 Capsule
                            p.stn__div2--box__box2--box__pr Compatible with <br>Nespresso systems and <br>similar brewers
                div.stn__div2--box2
                    div.stn__div2--box2
                        h1.stn__div2--box2__h1 What type of coffee?
                        img.stn__div2--box2__img(src="../../img/Path.png", alt="")
                    div.stn__div2--box2
                        h1.stn__div2--box2__h1 What type of coffee?
                        img.stn__div2--box2__img(src="../../img/Path.png", alt="")
                    div.stn__div2--box2
                        h1.stn__div2--box2__h1 What type of coffee?
                        img.stn__div2--box2__img(src="../../img/Path.png", alt="")
                    div.stn__div2--box2
                        h1.stn__div2--box2__h1 What type of coffee?
                        img.stn__div2--box2__img(src="../../img/Path.png", alt="")
                div.stn__div2--box