doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(kw="Coffe about , Coffe" , desc="Ushbu sayt orqali siz coffe sotib olishingiz mumkin, yoki coffe haqida malumot olishingiz mumkin")
        link(rel="stylesheet", href="/scss/main.css")
        title Shohrux
    body 
        section.stn.container
            //-article bo'lim
            div.stn__div
                div.stn__div--box
                    h1.stn__div--box__h1.span 01 Preferences
                div.stn__div--box
                    h1.stn__div--box__h1 02 Bean Type
                div.stn__div--box.b2
                    h1.stn__div--box__h1 03 Quantity
                div.stn__div--box
                    h1.stn__div--box__h1 04 Grind Option
                div.stn__div--box
                    h1.stn__div--box__h1 05 Deliveries
            //- main bo'limi
            div.stn__div2
                div.stn__div2--box
                    div.stn__div2--box__box
                        h1.stn__div2--box--h1 How do you drink your coffee?
                        img.stn__div2--box__box--img(src="../../img/Path.png", alt="path-image")
                    div.stn__div2--box__box2
                        div.stn__div2--box__box2--box
                            h1.stn__div2--box__box2--box__h1 Capsule
                            p.stn__div2--box__box2--box__pr Compatible with <br>Nespresso systems and <br>similar brewers
                        div.stn__div2--box__box2--box
                            h1.stn__div2--box__box2--box__h1 Capsule
                            p.stn__div2--box__box2--box__pr Compatible with <br>Nespresso systems and <br>similar brewers
                        div.stn__div2--box__box2--box
                            h1.stn__div2--box__box2--box__h1 Capsule
                            p.stn__div2--box__box2--box__pr Compatible with <br>Nespresso systems and <br>similar brewers
                //- body qismi
                div.stn__div2--box2
                    div.stn__div2--box2
                        h1.stn__div2--box2__h1 What type of coffee?
                        img.stn__div2--box2__img(src="../../img/Path.png", alt="path-image")
                    div.stn__div2--box2
                        h1.stn__div2--box2__h1 What type of coffee?
                        img.stn__div2--box2__img(src="../../img/Path.png", alt="path-image")
                    div.stn__div2--box2
                        h1.stn__div2--box2__h1 What type of coffee?
                        img.stn__div2--box2__img(src="../../img/Path.png", alt="path-image")
                    div.stn__div2--box2
                        h1.stn__div2--box2__h1 What type of coffee?
                        img.stn__div2--box2__img(src="../../img/Path.png", alt="path-image")
                div.stn__div2--box
                    button.stn__div2--box__box