doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../scss/main.css")
        title Document
    body 
        section
        img.contect__neme__text(src="https://s3-alpha-sig.figma.com/img/d03d/3e12/918c58cec7ea37f8c8e6baa99455fb4a?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dL9RHdnaiiM1AIothv1kv-bweX6aZ2SQV-01i00V6t5hIZQIYQo1CW43DEczzPxcl1uaiwbTZkoV96iR-ySfy-6GYqjJ57R7HyQxsV7SBlr3-tke2qqUnr3DP2ixUhxfe3bOcVTZdueFUeRK3VZLplNBIyLkZxyJZOEZvMq3Lx7ZIJ0BlD6Uwmmkv97DRnJWRsrexKY5rrRgbUEjBgLUB7KDlL1P58soBKve~5dY3zMJB0ugF7feopdtq5CVbZ9c9OC4ryMtBjntot1wdtMl~Cv8k5jpT5tC2rAVaEv2EBob4vnhGq7eV5VGiUz-tlYu2Jl~j9mFLofrQOZl42WSOw__", alt="")
            h1 Create plan
            p Coffee the way you wanted it to be. For coffee delivered tomorrow, or next week. For whatever brew method you use. For choice, for convenience, for quality. 