doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='../../../scss/pages/subsclibetwo.css')
  body 
    // open article
    article.article-container
        // open article-page1
        .article-page1
            img(src='/img/photo_2024-05-26_21-24-49.jpg' alt='jadval')
        // the end article-page1

        // open article-page2    
        .article-page2
            .article-box
            // 1-page
            h2
                | How do you drink your coffee? 
                img(src='/img/photo_2024-05-26_22-20-19.jpg' alt='icon-corner')
            .article-text
                h3 Capsule
                p Compatible with Nespresso systems and similar brewers
            .article-text(style='background-color:#0E8784;')
                h3(style='color: #fff;') Filter
                p(style='color: #fff;') For pour over or drip methods like Aeropress, Chemex, and V60
            .article-text
                h3 Espresso
                p Dense and finely ground beans for an intense, flavorful
            // the end
            // 2-page
            h2
                | What type of coffee?
                img(src='/img/photo_2024-05-26_22-20-19.jpg' alt='icon-corner')
            .article-text
                h3 Single Origin
                p Distinct, high quality coffee from a specific family-owned farm
            .article-text(style='background-color:#0E8784;')
                h3(style='color: #fff;') Decaf
                p(style='color: #fff;') Just like regular coffee, except the caffeine has been removed
            .article-text
                h3 Blended
                p Combination of two or three dark roasted beans of organic
            // the end
            // 3-page
            h2
                | How much would you like?
                img(src='/img/photo_2024-05-26_22-20-19.jpg' alt='icon-corner')
            .article-text(style='background-color:#0E8784;')
                h3(style='color: #fff;') 250g
                p(style='color: #fff;') Perfect for the solo drinker. Yields about 12 delicious cups.
            .article-text
                h3 500g
                p Perfect option for a couple. Yields about 40 delectable cups.
            .article-text
                h3 1000g
                p Perfect for offices and events. Yields about 90 delightful cups.
            // the end
            // 4-page
            h2
                | Want us to grind them?
                img(src='/img/photo_2024-05-26_22-20-19.jpg' alt='icon-corner')
            .article-text
                h3 Wholebean
                p Best choice if you cherish the full sensory experience
            .article-text
                h3 Filter
                p For drip or pour-over coffee methods such as V60 or Aeropress
            .article-text(style='background-color: #0E8784;')
                h3(style='color: #fff;') Cafeti&eacute;re
                p(style='color: #fff;') Course ground beans specially suited for french press coffee
            // the end
            // 5-page
            h2
                | How often should we deliver?
                img(src='/img/photo_2024-05-26_22-20-19.jpg' alt='icon-corner')
            .article-text(style='background-color: #0E8784;')
                h3(style='color: #fff;') Every week
                p(style='color: #fff;') $7.20 per shipment. Includes free first-class shipping.
            .article-text
                h3 Every 2 weeks
                p $9.60 per shipment. Includes free priority shipping.
            .article-text
                h3 Every month
                p $12.00 per shipment. Includes free priority shipping.
            // the end
        // the end article-page2    
    //the end article        
